<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pokémon</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
</head>
<body>
	<div class="container">
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">base_happiness</label> <input
					type="text" class="form-control" id="validationDefault01"
					value="Mark" required th:field="${detalle.base_happiness}">
			</div>
			<div class="col-md-6 mb-3">
				<label for="validationDefault02">capture_rate</label> <input
					type="text" class="form-control" id="validationDefault02"
					value="Otto" required th:field="${detalle.capture_rate}">
			</div>
			<div class="col-md-6 mb-3">
				<label for="validationDefault02">colore</label> <input type="text"
					class="form-control" id="validationDefault02" value="Otto" required
					th:field="${detalle.color.name}">
			</div>
		</div>

	<a th:href="@{'/evolucion/'+ ${#strings.substring(detalle.evolution_chain.url,42)}}">Cadena</a>		
	</div>
</body>
</html>